%h1 Mixi#index
- if session[:access_token_mixi]
  %h2 My profile
  = image_tag @profile["thumbnailUrl"]
  = link_to @profile["displayName"], @profile["profileUrl"]
- else
  %p 
    = link_to("OAuthで認証", mixi_auth_path)
